.manager {
    color: #15762e;
}

table {
    width: 100%;
}
table thead{
    background: #ddd;
}


/* 
    BUTTON and FORM
*/
.align{
    display: flex;
    gap: 10px;
    align-items: center;
}
.align:hover .open-close-form{
    display: block;
}
.open-close-form{
    width: 25px;
    height: 25px;
    display: none;
    background: #ddd;
    border: none;
    cursor: pointer;
}
.open-close-form:hover{
    background: #ccc;
}
.open-close-form:active{
    transform: scale(.9);
}