* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
  line-height: 1.6rem;
}

body {
  padding: 2rem;
  background: #eeeeee;
}

hr {
  border: none;
  height: .1px;
  background: #ddd;
}

#app {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.99);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.01);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}